@model iTECH_Application.Models.Course
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-primary">Add Course</h1>
                    <p class="text-center text-danger">@TempData["message"]</p>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Create">
                        <div class="form-group">
                            <label asp-for="courseName">Course Name</label>
                            <input type="text" asp-for="courseName" class="form-control" placeholder="Enter Course Name" />
                            <span asp-validation-for="courseName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="duration">Duration</label>
                            <input type="text" asp-for="duration" class="form-control" placeholder="Enter number of days" />
                            <span asp-validation-for="duration" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="instructor">Instructor</label>
                            <input type="text" asp-for="instructor" class="form-control" placeholder="Enter instructor name" />
                            <span asp-validation-for="instructor" class="text-danger"></span>
                        </div>

     @* ***Pending***** <div class="form-group">
                            <label asp-for="startDate">Start Date</label>
                            <input type="text" asp-for="startDate" class="form-control" placeholder="Enter number of days" />
                        </div>*@
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-sm btn-outline-success float-right" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        </div>
</div>

